name: CI

on:
  pull_request:
    types:
      - opened
      - reopened
      - edited
      - synchronize
    branches:
      - main
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

env:
  GOLANGCI_LINT_VERSION: v2.5.0

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-arm64-small
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false
      - name: Setup
        uses: ./.github/actions/setup
      - name: Lint
        uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9.2.0
        with:
          version: ${{ env.GOLANGCI_LINT_VERSION }}
          args: |
            "./..." --timeout=7m

  test:
    name: Test
    runs-on: ubuntu-arm64-small
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false
      - name: Setup
        uses: ./.github/actions/setup
      - name: Test
        run: mage test
        shell: bash
